[data-theme="dark"] hr {
    margin: 10px;
    border: 0;
    border-top: var(--btop);
}

[data-theme="dark"] .secondary-text {
    color: var(--color);
}

[data-theme="dark"] .navbar-nav > .nav-item {
    color: rgba(255,255,255,.7);
}
