{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-9">
            <div class="card dark-card mb-5 mx-2">
                <div class="card-content">
                    <table class="table golf-table">
                        <thead>
                          <tr>
                            <th style="width: 2%;"></th>
                            <!-- <th scope="col">ID</th> -->
                            <th scope="col">Date Played</th>
                            <th scope="col">1</th>
                            <th scope="col">2</th>
                            <th scope="col">3</th>
                            <th scope="col">4</th>
                            <th scope="col">5</th>
                            <th scope="col">6</th>
                            <th scope="col">7</th>
                            <th scope="col">8</th>
                            <th scope="col">9</th>
                            <th scope="col">10</th>
                            <th scope="col">11</th>
                            <th scope="col">12</th>
                            <th scope="col">13</th>
                            <th scope="col">14</th>
                            <th scope="col">15</th>
                            <th scope="col">16</th>
                            <th scope="col">17</th>
                            <th scope="col">18</th>
                            <th scope="col" width="2%" class="golf-table-bordered">Out</th>
                            <th scope="col" width="2%" class="golf-table-bordered">In</th>
                            <th scope="col" width="2%" class="golf-table-bordered">Tot</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for golf_round in golf_rounds %}
                                <tr>
                                    <td></td>
                                    <!-- <td>{{ golf_round.id }}</td> -->
                                    <td>{{ golf_round.date_played.strftime('%m/%d/%y') }}</td>
                                    <td><span class="cell-score">{{ golf_round.h1Score }}</span> <span class="cell-putt"> {{ golf_round.h1Putt }}</span></td>
                                    <td><span class="cell-score">{{ golf_round.h2Score }}</span> <span class="cell-putt"> {{ golf_round.h2Putt }}</span></td>
                                    <td><span class="cell-score">{{ golf_round.h3Score }}</span> <span class="cell-putt"> {{ golf_round.h3Putt }}</span></td>
                                    <td><span class="cell-score">{{ golf_round.h4Score }}</span> <span class="cell-putt"> {{ golf_round.h4Putt }}</span></td>
                                    <td><span class="cell-score">{{ golf_round.h5Score }}</span> <span class="cell-putt"> {{ golf_round.h5Putt }}</span></td>
                                    <td><span class="cell-score">{{ golf_round.h6Score }}</span> <span class="cell-putt"> {{ golf_round.h6Putt }}</span></td>
                                    <td><span class="cell-score">{{ golf_round.h7Score }}</span> <span class="cell-putt"> {{ golf_round.h7Putt }}</span></td>
                                    <td><span class="cell-score">{{ golf_round.h8Score }}</span> <span class="cell-putt"> {{ golf_round.h8Putt }}</span></td>
                                    <td><span class="cell-score">{{ golf_round.h9Score }}</span> <span class="cell-putt"> {{ golf_round.h9Putt }}</span></td>
                                    <td><span class="cell-score">{{ golf_round.h10Score }}</span> <span class="cell-putt"> {{ golf_round.h10Putt }}</span></td>
                                    <td><span class="cell-score">{{ golf_round.h11Score }}</span> <span class="cell-putt"> {{ golf_round.h11Putt }}</span></td>
                                    <td><span class="cell-score">{{ golf_round.h12Score }}</span> <span class="cell-putt"> {{ golf_round.h12Putt }}</span></td>
                                    <td><span class="cell-score">{{ golf_round.h13Score }}</span> <span class="cell-putt"> {{ golf_round.h13Putt }}</span></td>
                                    <td><span class="cell-score">{{ golf_round.h14Score }}</span> <span class="cell-putt"> {{ golf_round.h14Putt }}</span></td>
                                    <td><span class="cell-score">{{ golf_round.h15Score }}</span> <span class="cell-putt"> {{ golf_round.h15Putt }}</span></td>
                                    <td><span class="cell-score">{{ golf_round.h16Score }}</span> <span class="cell-putt"> {{ golf_round.h16Putt }}</span></td>
                                    <td><span class="cell-score">{{ golf_round.h17Score }}</span> <span class="cell-putt"> {{ golf_round.h17Putt }}</span></td>
                                    <td><span class="cell-score">{{ golf_round.h18Score }}</span> <span class="cell-putt"> {{ golf_round.h18Putt }}</span></td>
                                    <td class="golf-table-bordered">{{ golf_round.frontScore }}</td>
                                    <td class="golf-table-bordered">{{ golf_round.backScore }}</td>
                                    <td class="golf-table-bordered">{{ golf_round.totalScore }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card dark-card mb-5 mx-2">
                <div class="row card-content">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addRoundModal" id="open-modal">Add Round</button>
                    </div>
                    <!-- <div class="col-md-4">
                        <button type="button" class="btn btn-primary" id="addStepButton">Output</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="open-modal">Output</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- <div id="div1" class="col-md-3">
        <p><a href='/' class='btn btn-primary btn-block' role='button'><span class='glyphicon glyphicon-chevron-left'></span> Back</a></p>
    </div> -->
    
    <!-- Modal -->
    <div class="modal fade" id="addRoundModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content modal-content-custom">
          </div>
        </div>
      </div>
{% endblock content %}