{% extends "layout.html" %}
{% block content %}

<div class="row">
    {% for user in users %}
    <div class="card card-sm mb-5 mx-2">
        <div class="card-content">
            <a class="nav-item nav-link" href="{{ url_for('golf.golftracker', username=user.username) }}">{{ user.username }}
                <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
            </a>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Modal -->

{% endblock content %}