{% extends "layout.html" %}
{% block content %}
    <div class="serv">
        <ul>
        {% for module in modules %}
        
        <li><a href="/{{ module.url }}" style="text-decoration: none;">
            <div class="card card-sm mb-5 mx-2">
                <div class="card-content">
                    <h5 class="card-title">{{ module.title }}</h5>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <p class="card-text">{{ module.description }}</p>
                </div>
            </div>
        </li></a>
        {% endfor %}
        </ul>
    </div>
{% endblock content %}