{% extends "nutrimeal.html" %}
{% block content %}
    <div style="padding-top: 10px;" class="row">
        <div class="col-md-12">
            <div style="height: 300px;" class="card card-sm mb-5 mx-2">
                <div class="card-content">
                    <table class="table" style="margin-bottom: 0;">
                        <tbody>
                            <tr>
                                <td style="width: 125px; vertical-align: middle; padding: 0px;">
                                    <img id="user_icon" class="rounded-circle nav2-img" src="/static/images/IMG_9880.jpg">
                                </td>
                                <td style="vertical-align: top; padding: 0px; text-align: center;">
                                    <h5><b>Matthew Jackson</b></h5>
                                    <span style="font-size: 0.9rem; display: block; padding-bottom: 10px;"><i>@matthew11j</i></span>
                                    <a href="something" class="button4" style="background-color:#8064A2">Edit</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>   
                </div>
            </div>
            
        </div>
    </div>
{% endblock content %}