{% extends "nutrimeal.html" %}
{% block content %}
<div style="padding-top: 10px;" class="row">
    <div class="col-md-12">
        <div class="card mb-5 mx-2" style="margin-bottom: 1rem !important;">
            <div class="card-content">
                <div class="row">
                    <h4 style="font-style: italic; padding-left: 1rem;">Today's Schedule</h4>
                </div>
                <span style="font-style: italic; font-weight: bold;">Date: </span><span id="todays-date2"></span>
                <hr />
                <div style="margin-bottom: 15px;">
                    <div class="panel-heading collapse-header noselect" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true">
                        <table class="table" style="margin-bottom: 5px;">
                            <tbody>
                                <tr class="no-padding">
                                    <td style="padding-bottom: 0px; font-size: 1.2rem;">
                                        <span style="font-style: italic; font-weight: bold;">Workout</span><span style="padding-left: 15px;">(Pull Day)</span>
                                    </td>
                                    <td style="padding-bottom: 0px;">
                                        <i><a class="collapse-button">
                                            <i class="collapse-chevron fa fa-angle-down"></i>
                                            <i class="collapse-chevron fa fa-angle-right"></i>
                                        </a></i> 
                                    </td>
                                </tr>
                            </tbody>
                        </table> 
                    </div>  
                    <div id="collapseOne" class="collapse show">
                        <table class="table" style="margin-bottom: 0px; border: 2px solid  #8064A2;">
                            <thead>
                                <tr class="no-padding">
                                    <th style="width: 60%;">Excercise</th>
                                    <th>Sets</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="no-padding">
                                    <td>
                                        <input class="form-control form-content-custom-small form-borderless" id="fake" name="fake" type="text" value="Lat Pull Down">
                                    </td>
                                    <td>
                                        <input class="form-control form-content-custom-small form-borderless" id="fake" name="fake" type="text" value="4x8">
                                    </td>
                                </tr>
                                <tr class="no-padding">
                                    <td>
                                        <input class="form-control form-content-custom-small form-borderless" id="fake" name="fake" type="text" value="Bicep Curls">
                                    </td>
                                    <td>
                                        <input class="form-control form-content-custom-small form-borderless" id="fake" name="fake" type="text" value="5x7">
                                    </td>
                                </tr>
                                <tr class="no-padding">
                                    <td>
                                        <input class="form-control form-content-custom-small form-borderless" id="fake" name="fake" type="text" value="Dumbell Rows">
                                    </td>
                                    <td>
                                        <input class="form-control form-content-custom-small form-borderless" id="fake" name="fake" type="text" value="4x8">
                                    </td>
                                </tr>
                                <tr class="no-padding">
                                    <td>
                                        <input class="form-control form-content-custom-small form-borderless" id="fake" name="fake" type="text" value="Hammer Curls">
                                    </td>
                                    <td>
                                        <input class="form-control form-content-custom-small form-borderless" id="fake" name="fake" type="text" value="5x5">
                                    </td>
                                </tr>
                                <tr class="no-padding">
                                    <td>
                                        <input class="form-control form-content-custom-small form-borderless" id="fake" name="fake" type="text" value="Assisted Pull Ups">
                                    </td>
                                    <td>
                                        <input class="form-control form-content-custom-small form-borderless" id="fake" name="fake" type="text" value="3 (till fatigue)">
                                    </td>
                                </tr>
                                <tr class="no-padding">
                                    <td>
                                        <input class="form-control form-content-custom-small form-borderless" id="fake" name="fake" type="text" value="Cooldown Bike/Stretch">
                                    </td>
                                    <td>
                                        <input class="form-control form-content-custom-small form-borderless" id="fake" name="fake" type="text" value="15 mins">
                                    </td>
                                </tr>
                                <tr class="no-padding">
                                    <td>
                                        <span><a href="/nutrimeal" class="button1" style="background-color:#8064A2">Add</a></span>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table> 
                    </div>
                </div>
                <div>
                    <div class="panel-heading collapse-header noselect" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true">
                        <table class="table" style="margin-bottom: 5px;">
                            <tbody>
                                <tr class="no-padding">
                                    <td style="padding-bottom: 0px; font-size: 1.2rem;">
                                        <span style="font-style: italic; font-weight: bold;">Meal Plan</span>
                                    </td>
                                    <td style="padding-bottom: 0px;">
                                        <i><a class="collapse-button">
                                            <i class="collapse-chevron fa fa-angle-down"></i>
                                            <i class="collapse-chevron fa fa-angle-right"></i>
                                        </a></i> 
                                    </td>
                                </tr>
                            </tbody>
                        </table> 
                    </div>  
                    <div id="collapseTwo" class="collapse show">
                        <table class="table" style="margin-bottom: 0px; border: 2px solid  #8064A2;">
                            <thead>
                                <tr class="no-padding">
                                    <th style="width: 40%;">Meal</th>
                                    <th>Ingredients</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="no-padding">
                                    <td style="font-style: italic;">
                                        <input class="form-control form-content-custom-small form-borderless" id="fake" name="fake" type="text" value="Breakfast">
                                    </td>
                                    <td>
                                        <input class="form-control form-content-custom-small form-borderless" id="fake" name="fake" type="text" value="Eggs (x3), Everything Bagel (x1), Bacon (x3)">
                                    </td>
                                </tr>
                                <tr class="no-padding">
                                    <td style="font-style: italic;">
                                        <input class="form-control form-content-custom-small form-borderless" id="fake" name="fake" type="text" value="Snack (1)">
                                    </td>
                                    <td>
                                        <input class="form-control form-content-custom-small form-borderless" id="fake" name="fake" type="text" value="Greek Yogurt (x1), Protein Bar (x1)">
                                    </td>
                                </tr>
                                <tr class="no-padding">
                                    <td style="font-style: italic;">
                                        <input class="form-control form-content-custom-small form-borderless" id="fake" name="fake" type="text" value="Lunch">
                                    </td>
                                    <td>
                                        <input class="form-control form-content-custom-small form-borderless" id="fake" name="fake" type="text" value="Italian Sub (x1), Brocoli (x1)">
                                    </td>
                                </tr>
                                <tr class="no-padding">
                                    <td style="font-style: italic;">
                                        <input class="form-control form-content-custom-small form-borderless" id="fake" name="fake" type="text" value="Snack (2)">
                                    </td>
                                    <td>
                                        <input class="form-control form-content-custom-small form-borderless" id="fake" name="fake" type="text" value="Assorted Fruit (x1), Protein Bar (x1)">
                                    </td>
                                </tr>
                                <tr class="no-padding">
                                    <td style="font-style: italic;">
                                        <input class="form-control form-content-custom-small form-borderless" id="fake" name="fake" type="text" value="Dinner">
                                    </td>
                                    <td>
                                        <input class="form-control form-content-custom-small form-borderless" id="fake" name="fake" type="text" value="Grilled Chicken (x1), Rice (x1)">
                                    </td>
                                </tr>
                                <tr class="no-padding">
                                    <td style="font-style: italic;">
                                        <input class="form-control form-content-custom-small form-borderless" id="fake" name="fake" type="text" value="Snack (3)">
                                    </td>
                                    <td>
                                        <input class="form-control form-content-custom-small form-borderless" id="fake" name="fake" type="text" value="Ice Cream (x1), Protein Bar (x1)">
                                    </td>
                                </tr>
                                <tr class="no-padding">
                                    <td>
                                        <span><a href="/nutrimeal" class="button1" style="background-color:#8064A2">Add</a></span>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table> 
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="row" style="position: fixed; bottom: 64px; background: #303030; width: 100%; border-top: 2px solid #8064A2;">
    <div class="col-md-12" style="margin-top: 5px; margin-bottom: 5px;">
        <div class="form-group" style="margin-bottom: 15px !important;">
            <div style="float: left; padding-left: 15px;">
                <span><a href="/nutrimeal" class="button1" style="background-color: #808080">Cancel</a></span>
            </div>
            <div style="float: right; padding-right: 15px;">
                <span><a href="/nutrimeal" class="button1" style="background-color:#8064A2">Save</a></span>
            </div>
        </div>
    </div>
</div>
{% endblock content %}