{% extends "layout.html" %}
{% block content %}
<!-- <div style="display: none;" id="recentTracks">{{ topTracks_Short_Payload|safe }}</div> -->
{% if current_user.is_authenticated %}
<div class="row">
    <div class="col-md-4">
        <div class="card mb-5 mx-2">
            <div class="card-content" style="min-height: 300px;">
                <form id="recommendationForm" method="POST" action="" autocomplete="off">
                    {{ form.hidden_tag() }}
                    <h4 class="form-control-label">
                        Seeds
                    </h4>
                    {% for s in form.seeds %}
                        {{ s.form.hidden_tag() }}
                        <div class="form-group" style="padding-left: 1rem; padding-right: 1rem;">
                            <div style="width: 25%; display: inline-block;">
                                <!-- {{ s.form.seed_select.label(class="form-control-label") }} -->
                                {{ s.form.seed_select(class="form-control date-custom2 form-borderless") }}
                            </div>
                            <div style="padding-left: 20px; width: 74%; display: inline-block;">
                                {{ s.form.seed_string(class="form-control form-content-custom-l form-borderless") }}
                            </div>
                        </div>
                    {% endfor %}
                    
                    <div style="float: right;">
                        <input class="btn btn-primary" type="submit" name="add_row" value="Add Row">
                        <input class="btn btn-primary" type="submit" name="submit" value="Create">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card mb-5 mx-2">
            <div class="card-content" style="min-height: 300px;">
                <div class="row" style="padding-bottom: 5px;">
                    <h4 id="golf-table-header" style="font-style: italic; padding-left: 1rem; font-weight: bold;">Recommended Tracks</h4>
                </div>
                {% for item in tracks %}
                <div class="artist-card container">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td style="width: 64px; vertical-align: middle;">
                                    <img class="rounded-circle artist-img" src="{{ item.images[2].url }}"> 
                                </td>
                                <td>
                                    <div style="font-size: 1.1rem;">{{ item.name }}</div>
                                    <p class="artist-name">{{ item.artist.name }}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>
            </div>
        </div>
    </div>
</div>
{% else %}
    <p class="empty-page" style="margin-top: 10px;">You must have an account to access this tool</p>
{% endif %}
{% endblock content %}
