{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div style="display: none;" id="recentTracks">{{ recentTracksData|safe }}</div>
    <div class="col-md-9">
        <form  action="{{ url_for('music.weeklyTrackPlaylist') }}">
        <div class="action-area">
            <!-- <span style="padding-right: 1.5em;" class="action"><i style="padding-right: 0.4em;" class="far fa-refresh"></i>Sync Weekly Playlist</span> -->
            <input class="btn btn-dismiss" type="submit" id='script' name="submit" value="Sync Weekly Playlist">
        </div>
        <ul>
        {% for item in recentTracks %}
        
        <li>
            <label>{{ item.name }}</label>
        </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
